@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.pri-butt {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #01BD7E;
  cursor: pointer;
  border: none;
}
.pri-butt:hover {
  background-color: #01BD7E;
  opacity: 0.8;
}
.sec-butt {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #9F9F9F;
  color: #01BD7E;
}
.sec-butt:hover {
  background-color: #01BD7E;
  opacity: 0.8;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  #app {
    /* display: flex; */
    /* flex-direction: column; */
  }
}
